In [1]:
import pandas as pd

In [53]:
data = pd.read_excel(url, sep=' | ')
data.head(5)

,Indicator,Country,Date,value
0,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,3285.0
1,Cumulative number of confirmed Ebola cases,Guinea,2015-03-10,2871.0
2,Cumulative number of probable Ebola cases,Guinea,2015-03-10,392.0
3,Cumulative number of suspected Ebola cases,Guinea,2015-03-10,22.0
4,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,2170.0

In [11]:
data.shape

(17585, 4)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17585 entries, 0 to 17584
Data columns (total 4 columns):
Indicator    17585 non-null object
Country      17585 non-null object
Date         17585 non-null object
value        17585 non-null float64
dtypes: float64(1), object(3)
memory usage: 549.6+ KB

In [14]:
data.isnull().sum()

Indicator    0
Country      0
Date         0
value        0
dtype: int64

In [15]:
data['Country'].value_counts()

Sierra Leone                2303
Nigeria                     2124
Guinea                      2086
Senegal                     2081
United States of America    1932
Spain                       1924
Liberia                     1540
Mali                        1234
United Kingdom              1107
Italy                        708
Liberia 2                    536
Guinea 2                      10
Name: Country, dtype: int64

In [20]:
data.groupby(['Country','Date']).agg(['max','min'])

                                                                             Indicator  \
                                                                                   max
Country                  Date
Guinea                   2014-08-29  Proportion of suspected Ebola deaths that are ...
                         2014-09-05  Proportion of suspected Ebola deaths that are ...
                         2014-09-08  Proportion of suspected Ebola deaths that are ...
                         2014-09-12  Proportion of suspected Ebola cases that are f...
                         2014-09-16  Proportion of suspected Ebola cases that are f...
                         2014-09-18  Proportion of suspected Ebola cases that are f...
                         2014-09-22        Cumulative number of suspected Ebola deaths
                         2014-09-24  Proportion of suspected Ebola cases that are f...
                         2014-09-26        Cumulative number of suspected Ebola deaths
                         2014-10-01  Proportion of suspected Ebola cases that are f...
                         2014-10-03        Cumulative number of suspected Ebola deaths
                         2014-10-08  Proportion of suspected Ebola cases that are f...
                         2014-10-10        Cumulative number of suspected Ebola deaths
                         2014-10-15  Proportion of suspected Ebola cases that are f...
                         2014-10-17        Cumulative number of suspected Ebola deaths
                         2014-10-22  Proportion of suspected Ebola cases that are f...
                         2014-10-25        Cumulative number of suspected Ebola deaths
                         2014-10-29  Proportion of suspected Ebola cases that are f...
                         2014-10-31         Cumulative number of suspected Ebola cases
                         2014-11-05  Number of probable Ebola cases in the last 21 ...
                         2014-11-07        Cumulative number of suspected Ebola deaths
                         2014-11-12  Number of probable Ebola cases in the last 21 ...
                         2014-11-14        Cumulative number of suspected Ebola deaths
                         2014-11-19  Number of probable Ebola cases in the last 21 ...
                         2014-11-21        Cumulative number of suspected Ebola deaths
                         2014-11-26  Number of confirmed, probable and suspected Eb...
                         2014-12-01        Cumulative number of suspected Ebola deaths
                         2014-12-03  Number of confirmed, probable and suspected Eb...
                         2014-12-10  Number of confirmed, probable and suspected Eb...
                         2014-12-15        Cumulative number of suspected Ebola deaths
...                                                                                ...
United States of America 2015-10-22        Cumulative number of suspected Ebola deaths
                         2015-10-23        Cumulative number of suspected Ebola deaths
                         2015-10-26        Cumulative number of suspected Ebola deaths
                         2015-10-27        Cumulative number of suspected Ebola deaths
                         2015-10-29        Cumulative number of suspected Ebola deaths
                         2015-10-30        Cumulative number of suspected Ebola deaths
                         2015-11-03        Cumulative number of suspected Ebola deaths
                         2015-11-05        Cumulative number of suspected Ebola deaths
                         2015-11-06        Cumulative number of suspected Ebola deaths
                         2015-11-10        Cumulative number of suspected Ebola deaths
                         2015-11-11        Cumulative number of suspected Ebola deaths
                         2015-11-12        Cumulative number of suspected Ebola deaths
                         2015-11-16        Cumulative number of suspected Ebola deaths
                         2015-11-17        Cumulative number of suspected Ebola deaths
                         2015-11-20        Cumulative number of suspected Ebola deaths
                         2015-11-24        Cumulative number of suspected Ebola deaths
                         2015-11-26        Cumulative number of suspected Ebola deaths
                         2015-12-01        Cumulative number of suspected Ebola deaths
                         2015-12-02        Cumulative number of suspected Ebola deaths
                         2015-12-03        Cumulative number of suspected Ebola deaths
                         2015-12-09        Cumulative number of suspected Ebola deaths
                         2015-12-10        Cumulative number of suspected Ebola deaths
                         2015-12-11        Cumulative number of suspected Ebola deaths
                         2015-12-15        Cumulative number of suspected Ebola deaths
                         2015-12-16        Cumulative number of suspected Ebola deaths
                         2015-12-17        Cumulative number of suspected Ebola deaths
                         2015-12-22        Cumulative number of suspected Ebola deaths
                         2015-12-23        Cumulative number of suspected Ebola deaths
                         2015-12-29        Cumulative number of suspected Ebola deaths
                         2016-03-23        Cumulative number of suspected Ebola deaths

                                                                                        \
                                                                                   min
Country                  Date
Guinea                   2014-08-29  Case fatality rate (CFR) of confirmed Ebola cases
                         2014-09-05  Case fatality rate (CFR) of confirmed Ebola cases
                         2014-09-08         Cumulative number of confirmed Ebola cases
                         2014-09-12  Case fatality rate (CFR) of confirmed Ebola cases
                         2014-09-16  Case fatality rate (CFR) of confirmed Ebola cases
                         2014-09-18         Cumulative number of confirmed Ebola cases
                         2014-09-22         Cumulative number of confirmed Ebola cases
                         2014-09-24         Cumulative number of confirmed Ebola cases
                         2014-09-26         Cumulative number of confirmed Ebola cases
                         2014-10-01         Cumulative number of confirmed Ebola cases
                         2014-10-03         Cumulative number of confirmed Ebola cases
                         2014-10-08         Cumulative number of confirmed Ebola cases
                         2014-10-10         Cumulative number of confirmed Ebola cases
                         2014-10-15         Cumulative number of confirmed Ebola cases
                         2014-10-17         Cumulative number of confirmed Ebola cases
                         2014-10-22         Cumulative number of confirmed Ebola cases
                         2014-10-25         Cumulative number of confirmed Ebola cases
                         2014-10-29         Cumulative number of confirmed Ebola cases
                         2014-10-31         Cumulative number of confirmed Ebola cases
                         2014-11-05         Cumulative number of confirmed Ebola cases
                         2014-11-07         Cumulative number of confirmed Ebola cases
                         2014-11-12         Cumulative number of confirmed Ebola cases
                         2014-11-14         Cumulative number of confirmed Ebola cases
                         2014-11-19         Cumulative number of confirmed Ebola cases
                         2014-11-21         Cumulative number of confirmed Ebola cases
                         2014-11-26         Cumulative number of confirmed Ebola cases
                         2014-12-01         Cumulative number of confirmed Ebola cases
                         2014-12-03         Cumulative number of confirmed Ebola cases
                         2014-12-10         Cumulative number of confirmed Ebola cases
                         2014-12-15         Cumulative number of confirmed Ebola cases
...                                                                                ...
United States of America 2015-10-22         Cumulative number of confirmed Ebola cases
                         2015-10-23         Cumulative number of confirmed Ebola cases
                         2015-10-26         Cumulative number of confirmed Ebola cases
                         2015-10-27         Cumulative number of confirmed Ebola cases
                         2015-10-29         Cumulative number of confirmed Ebola cases
                         2015-10-30         Cumulative number of confirmed Ebola cases
                         2015-11-03         Cumulative number of confirmed Ebola cases
                         2015-11-05         Cumulative number of confirmed Ebola cases
                         2015-11-06         Cumulative number of confirmed Ebola cases
                         2015-11-10         Cumulative number of confirmed Ebola cases
                         2015-11-11         Cumulative number of confirmed Ebola cases
                         2015-11-12         Cumulative number of confirmed Ebola cases
                         2015-11-16         Cumulative number of confirmed Ebola cases
                         2015-11-17         Cumulative number of confirmed Ebola cases
                         2015-11-20         Cumulative number of confirmed Ebola cases
                         2015-11-24         Cumulative number of confirmed Ebola cases
                         2015-11-26         Cumulative number of confirmed Ebola cases
                         2015-12-01         Cumulative number of confirmed Ebola cases
                         2015-12-02         Cumulative number of confirmed Ebola cases
                         2015-12-03         Cumulative number of confirmed Ebola cases
                         2015-12-09         Cumulative number of confirmed Ebola cases
                         2015-12-10         Cumulative number of confirmed Ebola cases
                         2015-12-11         Cumulative number of confirmed Ebola cases
                         2015-12-15         Cumulative number of confirmed Ebola cases
                         2015-12-16         Cumulative number of confirmed Ebola cases
                         2015-12-17         Cumulative number of confirmed Ebola cases
                         2015-12-22         Cumulative number of confirmed Ebola cases
                         2015-12-23         Cumulative number of confirmed Ebola cases
                         2015-12-29         Cumulative number of confirmed Ebola cases
                         2016-03-23         Cumulative number of confirmed Ebola cases

                                      value
                                        max   min
Country                  Date
Guinea                   2014-08-29   648.0   0.0
                         2014-09-05   812.0   1.0
                         2014-09-08   862.0   0.0
                         2014-09-12   861.0   4.0
                         2014-09-16   936.0   4.0
                         2014-09-18   942.0   5.0
                         2014-09-22  1008.0   5.0
                         2014-09-24  1022.0   5.0
                         2014-09-26  1074.0   5.0
                         2014-10-01  1157.0   5.0
                         2014-10-03  1199.0   0.0
                         2014-10-08  1298.0   2.0
                         2014-10-10  1350.0   0.0
                         2014-10-15  1472.0   0.0
                         2014-10-17  1519.0   0.0
                         2014-10-22  1540.0   0.0
                         2014-10-25  1553.0   0.0
                         2014-10-29  1906.0  10.0
                         2014-10-31  1667.0  54.0
                         2014-11-05  1731.0   0.0
                         2014-11-07  1760.0   0.0
                         2014-11-12  1878.0   0.0
                         2014-11-14  1919.0   0.0
                         2014-11-19  1971.0   0.0
                         2014-11-21  2047.0   0.0
                         2014-11-26  2134.0   0.0
                         2014-12-01  2155.0   0.0
                         2014-12-03  2164.0   0.0
                         2014-12-10  2292.0   0.0
                         2014-12-15  2394.0   0.0
...                                     ...   ...
United States of America 2015-10-22     4.0   0.0
                         2015-10-23     4.0   0.0
                         2015-10-26     4.0   0.0
                         2015-10-27     4.0   0.0
                         2015-10-29     4.0   0.0
                         2015-10-30     4.0   0.0
                         2015-11-03     4.0   0.0
                         2015-11-05     4.0   0.0
                         2015-11-06     4.0   0.0
                         2015-11-10     4.0   0.0
                         2015-11-11     4.0   0.0
                         2015-11-12     4.0   0.0
                         2015-11-16     4.0   0.0
                         2015-11-17     4.0   0.0
                         2015-11-20     4.0   0.0
                         2015-11-24     4.0   0.0
                         2015-11-26     4.0   0.0
                         2015-12-01     4.0   0.0
                         2015-12-02     4.0   0.0
                         2015-12-03     4.0   0.0
                         2015-12-09     4.0   0.0
                         2015-12-10     4.0   0.0
                         2015-12-11     4.0   0.0
                         2015-12-15     4.0   0.0
                         2015-12-16     4.0   0.0
                         2015-12-17     4.0   0.0
                         2015-12-22     4.0   0.0
                         2015-12-23     4.0   0.0
                         2015-12-29     4.0   0.0
                         2016-03-23     4.0   0.0

[2485 rows x 4 columns]

In [26]:
data[data.Country == 'United States of America'].Date.value_counts()

2015-08-17    8
2015-10-02    8
2015-03-18    8
2015-06-23    8
2015-08-03    8
2015-05-12    8
2015-02-16    8
2015-07-06    8
2015-05-27    8
2015-10-30    8
2015-05-01    8
2015-05-28    8
2014-11-05    8
2015-04-13    8
2015-02-06    8
2015-10-08    8
2014-11-12    8
2015-10-29    8
2015-12-15    8
2015-09-23    8
2014-11-14    8
2015-04-14    8
2015-04-23    8
2015-08-13    8
2015-09-29    8
2015-07-13    8
2015-02-27    8
2015-09-28    8
2015-06-02    8
2015-05-08    8
             ..
2015-04-30    8
2015-06-15    8
2015-11-24    8
2015-02-12    8
2015-12-03    8
2015-12-29    8
2015-03-04    8
2015-07-24    8
2015-07-10    8
2014-12-01    8
2015-01-02    8
2015-05-14    8
2015-06-30    8
2014-12-15    8
2015-10-09    8
2014-12-24    8
2014-12-26    8
2015-10-20    8
2014-12-22    8
2015-10-27    8
2015-05-20    8
2015-09-15    8
2015-07-02    8
2014-10-15    4
2014-10-22    4
2014-10-03    4
2014-10-10    4
2014-10-17    4
2014-10-25    4
2014-10-08    4
Name: Date, Length: 245, dtype: int64

In [30]:
data[data.Country == 'Guinea'].Date.value_counts().agg(['mean','min','max'])

mean     8.054054
min      5.000000
max     28.000000
Name: Date, dtype: float64

In [35]:
data.groupby('Country').count()

                          Indicator  Date  value
Country
Guinea                         2086  2086   2086
Guinea 2                         10    10     10
Italy                           708   708    708
Liberia                        1540  1540   1540
Liberia 2                       536   536    536
Mali                           1234  1234   1234
Nigeria                        2124  2124   2124
Senegal                        2081  2081   2081
Sierra Leone                   2303  2303   2303
Spain                          1924  1924   1924
United Kingdom                 1107  1107   1107
United States of America       1932  1932   1932

In [38]:
data.groupby('Date').Country.value_counts().agg(['max'])

max    28
Name: Country, dtype: int64

In [47]:
data = data.groupby(['Date','Country']).agg(['max'])

In [49]:
data.head(5)

                                                                 Indicator  \
                                                                       max
                                                                       max
                                                                       max
Date       Country
2014-08-29 Guinea        Proportion of suspected Ebola deaths that are ...
           Liberia       Proportion of suspected Ebola deaths that are ...
           Nigeria       Proportion of suspected Ebola cases that are f...
           Sierra Leone  Proportion of suspected Ebola deaths that are ...
2014-09-05 Guinea        Proportion of suspected Ebola deaths that are ...

                          value
                            max
                            max
                            max
Date       Country
2014-08-29 Guinea         648.0
           Liberia       1378.0
           Nigeria        100.0
           Sierra Leone  1026.0
2014-09-05 Guinea         812.0

In [66]:
data.groupby('Country').Date.agg(['max']).head(1)

                max
Country
Guinea   2016-03-23

In [72]:
data['Country'].agg(['max'])

max    United States of America
Name: Country, dtype: object

In [102]:
data1 = data.groupby('Country').value

In [113]:
data1.agg(['max','min']).head(10)

                  max  min
Country
Guinea         3810.0  0.0
Guinea 2          5.0  0.0
Italy             1.0  0.0
Liberia       10666.0  0.0
Liberia 2        40.0  0.0
Mali              8.0  0.0
Nigeria         100.0  0.0
Senegal         100.0  0.0
Sierra Leone  14122.0  0.0
Spain             1.0  0.0

In [112]:
#highest number of deaths 
data.sort_values(by='value',ascending=False).head(1)

,Indicator,Country,Date,value
17293,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-12-22,14122.0

In [117]:
data[data.Country.isin(['United States of America','Spain'])].max()

Indicator    Cumulative number of suspected Ebola deaths
Country                         United States of America
Date                                          2016-03-23
value                                                  4
dtype: object

In [125]:
data.sort_values(by=['value','Date'], ascending=False)

,Indicator,Country,Date,value
17517,"Cumulative number of confirmed, probable and s...",Sierra Leone,2016-03-23,14122.0
17434,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-12-29,14122.0
17362,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-12-23,14122.0
17293,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-12-22,14122.0
17226,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-12-17,14122.0
17152,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-12-16,14122.0
17069,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-12-15,14122.0
17006,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-12-11,14122.0
16923,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-12-10,14122.0
16854,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-12-09,14122.0
16783,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-12-03,14122.0
16716,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-12-02,14122.0
16638,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-12-01,14122.0
16565,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-11-26,14122.0
16491,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-11-24,14122.0
16427,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-11-20,14122.0
16351,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-11-17,14122.0
16285,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-11-16,14122.0
16210,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-11-12,14122.0
16128,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-11-11,14122.0
16055,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-11-10,14122.0
15986,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-11-06,14109.0
15912,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-11-05,14104.0
15852,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-11-03,14089.0
15778,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-10-30,14067.0
15711,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-10-29,14066.0
15641,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-10-27,14061.0
15555,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-10-26,14052.0
15494,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-10-23,14038.0
15419,"Cumulative number of confirmed, probable and s...",Sierra Leone,2015-10-22,14031.0
...,...,...,...,...
4942,Number of probable Ebola deaths in the last 21...,Senegal,2014-09-08,0.0
4943,Number of suspected Ebola deaths in the last 2...,Senegal,2014-09-08,0.0
4944,"Number of confirmed, probable and suspected Eb...",Senegal,2014-09-08,0.0
4947,Proportion of suspected Ebola deaths that are ...,Guinea,2014-09-08,0.0
4954,Proportion of probable Ebola deaths that are f...,Sierra Leone,2014-09-08,0.0
4987,Number of probable Ebola cases in the last 21 ...,Sierra Leone,2014-09-05,0.0
4991,Number of probable Ebola cases in the last 21 ...,Nigeria,2014-09-05,0.0
5005,Proportion of probable Ebola cases that are fr...,Sierra Leone,2014-09-05,0.0
5009,Proportion of probable Ebola cases that are fr...,Nigeria,2014-09-05,0.0
5028,Cumulative number of suspected Ebola deaths,Nigeria,2014-09-05,0.0
5030,Cumulative number of confirmed Ebola deaths,Senegal,2014-09-05,0.0
5031,"Cumulative number of confirmed, probable and s...",Senegal,2014-09-05,0.0
5046,Number of suspected Ebola deaths in the last 2...,Nigeria,2014-09-05,0.0
5048,Number of confirmed Ebola deaths in the last 2...,Senegal,2014-09-05,0.0
5049,"Number of confirmed, probable and suspected Eb...",Senegal,2014-09-05,0.0
5064,Proportion of suspected Ebola deaths that are ...,Nigeria,2014-09-05,0.0
5066,Proportion of confirmed Ebola deaths that are ...,Senegal,2014-09-05,0.0
5067,"Proportion of confirmed, probable and suspecte...",Senegal,2014-09-05,0.0
5082,Case fatality rate (CFR) of suspected Ebola cases,Nigeria,2014-09-05,0.0
5084,Case fatality rate (CFR) of confirmed Ebola cases,Senegal,2014-09-05,0.0
5085,"Case fatality rate (CFR) of confirmed, probabl...",Senegal,2014-09-05,0.0
5148,Cumulative number of suspected Ebola deaths,Nigeria,2014-08-29,0.0
5151,Number of probable Ebola deaths in the last 21...,Guinea,2014-08-29,0.0
5152,Number of suspected Ebola deaths in the last 2...,Guinea,2014-08-29,0.0
5163,Number of probable Ebola deaths in the last 21...,Nigeria,2014-08-29,0.0
5164,Number of suspected Ebola deaths in the last 2...,Nigeria,2014-08-29,0.0
5167,Proportion of probable Ebola deaths that are f...,Guinea,2014-08-29,0.0
5168,Proportion of suspected Ebola deaths that are ...,Guinea,2014-08-29,0.0
5179,Proportion of probable Ebola deaths that are f...,Nigeria,2014-08-29,0.0
5195,Case fatality rate (CFR) of suspected Ebola cases,Nigeria,2014-08-29,0.0

In [130]:
data[data.value >= 14000].count()

Indicator    31
Country      31
Date         31
value        31
dtype: int64

In [137]:
data.loc[:, 'Country':'value'].head(10)

   Country        Date   value
0   Guinea  2015-03-10  3285.0
1   Guinea  2015-03-10  2871.0
2   Guinea  2015-03-10   392.0
3   Guinea  2015-03-10    22.0
4   Guinea  2015-03-10  2170.0
5   Guinea  2015-03-10  1778.0
6   Guinea  2015-03-10   392.0
7  Liberia  2015-03-10  9343.0
8  Liberia  2015-03-10  3150.0
9  Liberia  2015-03-10  1879.0